@model Entity.UserFileFolderDTO
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/MyHeader.cshtml";
    Stack<Int32> PID = new Stack<int> (); PID.Push ( 0 );
}
@section scripts{
    <script>
        var stack=new Array();
        stack.push(0);
        var basePath="http://localhost:34232/";
    $(function(){
         var uid=$("#txtUid").val();
         localStorage.setItem("USERID",uid);
        $("#btnCreateFolder").click(function(){
        debugger;
           $("#FolderCreatePopUp").show();
            $("#PopUpCover").show();
            $("#btnCreateF").click(function(){
            var uid=$("#txtUid").val();
            localStorage.setItem("USERID",uid);
            var name=$("#txtFolderName").val();
                //window.location.href=basePath+'api/FolderApi?Name='+name+'&Uid='+uid+'+&Pfid='+@Convert.ToInt32(PID.Peek());
            saveFolderUsingAjax(name,uid);
            $("#FolderCreatePopUp").hide();
            $("#PopUpCover").hide();
            });
        });//end of $("#btnCreateFolder").click()
        $("#btnDel").click(function(){var ID=$("div.Select").attr('id');delet(ID);});
        //Cancel event handling of Create Folder popUp
        $("#btnCancel").click(function(){$("#FolderCreatePopUp").hide(); $("#PopUpCover").hide();});
//////////////////////////////////////////////////////////////////
        $("#btnBack").click(function(){
                var parentPos=stack.pop();
                getInnerFolder(parentPos);$("#btnDel").hide();
                $("div.Select").css("border","none");
         });// $("#btnBack").click()
        $("#btnDownLoad").click(function(){var fileId=$("div.Select").attr('id');dowloadFile(fileId);});
        /////////////////////////////////////////////////////////


//         if (window.history && window.history.pushState) {
  //      debugger;
    //        window.history.pushState('forward', null, './#forward');

      //      $(window).on('popstate', function() {
// debugger;      var currentPos=stack.pop();
  //              var parentPos=stack.pop();
    //            getInnerFolder(parentPos);
      //        alert('Back button was pressed.');
        //    });
//}//end of browser back button event.

    }); //end of ready()
/////////////////////////////////////////////////////////////////
        function dowloadFile(fId)
        {
            var uId=localStorage.getItem("USERID");
            alert("UID : "+ uId +"  FID : "+fId);
            var d={"fid":fId , "uid":uId};
             var settings={type:"POST",dataType:"json",url:basePath+'api/FolderApi/getFileByUniqIDAndUid',data:d,
                success(resp){
                        if(resp){console.log(resp);
                                 //$("div.Select").remove();
                                 //$("#btnDel").hide();
                                //alert("Deleted Successfully");
        alert(resp.Name);
                        }
                        else alert("ERROR! in ");
                },//end of success()
                        error(){alert("There is some error in Getting FileDTO");}
        };//end of settings
            $.ajax(settings);
            
            //var url=basePath+'api/FolderApi/downLoadFile?uniqName=
        }



        function delet(ID)
        {
            if(!confirm("Are you sure you want to delete!"))
                return 0;
            var d={"ID":ID};
             var settings={type:"POST",dataType:"json",url:basePath+'api/FolderApi/Delete',data:d,
                success(resp){
                        if(resp==1){console.log(resp);
                                 $("div.Select").remove();
                                 $("#btnDel").hide();
                                alert("Deleted Successfully");

                        }
                        else alert("ERROR! in deletion");
                },//end of success()
                        error(){alert("There is some error in deletion");}
        };//end of settings
            $.ajax(settings);

        }
        function ClickEventHandler(clickedElement,type) {
       // debugger;

        var $this = $(clickedElement);
        var ID=$this.attr('id');

        if ($this.hasClass('clicked')){
        $this.removeClass('clicked');
        alert("Double click");
        $("btnDel").hide();
        $("div.Select").css("border","none");
        doubleClick($this);
        //here is your code for double click
        }
        else
        {
        $this.addClass('clicked');
        setTimeout(function() {
            if ($this.hasClass('clicked')){
                $this.removeClass('clicked');
                alert("Just one click!");
                //code for single click
             //   var selectElement=$this.parents("div.outerToFolder");
                $("div.Select").css("border","none");
                $this.addClass("Select").css("border","2px solid black");
                $("#btnDel").show();
                if(type=="file")
                {
                    $("#btnDownLoad").show();
                }
                    //alert("Del ID: "+ID);
            }
        }, 500);
    }
}
///////////////////////////////////////////////////////////////////////////

        function doubleClick(ClickedFolder)
        {   debugger;
            var PID = $(ClickedFolder).attr('id');
            var UID=localStorage.getItem("USERID");
            alert( PID );
             stack.push(PID);
           getInnerFolder(PID);
           getFiles(PID,UID);
        }
///////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////
        function getInnerFolder(PID)
        {debugger;
           // stack.push(ID);
            var UID = localStorage.getItem("USERID");
            var d={"pid":PID,"uid":UID};
            var settings={type:"POST",dataType:"json",url:basePath+'api/FolderApi/getChildFolders',data:d,
                success:function(res){
                    console.log(res);
                    $("#displayFList").empty();
                    for(var i=0;i<res.length;i++)
                    {
                        var div=$("<div>").attr("id",res[i].id).addClass("folder").addClass("innerFClass").text(res[i].name).bind( "click", function(){ClickEventHandler(this,"folder");var ID = $(this).attr('id'); alert( ID );stack.push(ID);//getInnerFolder(ID);
          });

                        $("#displayFList").append(div);
                    }
                }
            ,error:function(){alert("NO");}
            };
            $.ajax(settings);

        }
///////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////
        function saveFolderUsingAjax(nme,id)
        {debugger;
            var tmp=stack.pop();
            //stack.push(tmp);
            var d={"Name":nme,"Uid":id,Pfid:tmp};
            var settings={type:"POST",dataType:"json",url:basePath+'api/FolderApi/saveFolder',data:d,
                success(resp){
                        if(resp>0){console.log(resp);
                                var div=$("<div>").attr("id",resp).addClass("folder").addClass("innerFClass").text($("#txtFolderName").val()).bind( "click", function(){ClickEventHandler(this,"folder");var ID = $(this).attr('id'); alert( ID );stack.push(ID);//getInnerFolder(ID);
        });
                        $("#displayFList").append(div);
                        }
                        else alert("ERROR");
                },//end of success()
                        error(){alert("There is some error in saving folder");}
        };//end of settings
            $.ajax(settings);
        }

        function isFileSelected()
        {debugger;
            var d = new FormData();
            var files = $("#file-upload").get(0).files;
            // Add the uploaded image content to the form data collection
            if (files.length > 0) {
                var id=localStorage.getItem("USERID");
                var ParentId=stack.pop();
                stack.push(ParentId);
                d.append("file", files[0]);
                d.append("uid",id);
                d.append("pid",ParentId);
           // Make Ajax request with the contentType = false, and procesDate = false
            var settings ={ type: "POST", url: basePath+'api/FolderApi/saveFile',contentType: false,
            processData: false,  data: d };
            $.ajax(settings);
         }
        else      alert("File is not selected");
        }
///////////////////////////////////////////////////////////////////////////////////
        function getFiles(FolderID,UID)
        {debugger;
           // stack.push(ID);
            var d={"fid":FolderID,"uid":UID};
            var settings={type:"POST",dataType:"json",url:basePath+'api/FolderApi/getFiles',data:d,
                success:function(res){
                    console.log(res);
                    $("#displayFList").empty();
                    for(var i=0;i<res.length;i++)
                    {
                        var div=$("<div>").attr("id",res[i].id).addClass("folder").addClass("innerFClass").text(res[i].name).bind( "click", function(){var ID = $(this).attr('id'); alert( ID );stack.push(ID);ClickEventHandler(this,"file");//getInnerFolder(ID)
                                });
                        $("#displayFList").append(div);
                    }
                }
            ,error:function(){alert("NO");}
            };
            $.ajax(settings);

        }
        ///////////////////////////////////////////////////////////////////////
        </script>   
    
}
<input type="button" id="btnBack" class="btn" style="  background: url(/images/back.png) no-repeat;background-size:80px 40px;height:50px;width:70px;" />
 <h1>Welcome @Model.Usr.Name </h1>
<div id="PopUpCover" style="display:none; background-color:#000000;width:100%;height:100%;position:fixed;opacity: .15;left:0px;top:0px;"></div>
<input class="btn" type="button" id="btnCreateFolder" value="Create Folder"/>
<label for="file-upload" class="btn">
    Upload File
</label>
<input id="file-upload" type="file" style="display:none;" onchange="isFileSelected();"/>
<input type="button" class="btn" id="btnDel" value="Delete" style="background-color:red;display:none;" />
<input type="button" class="btn" id="btnDownLoad" value="Download File" style="display:none;" />

<div id="displayFList">
@{
    <h1>Folders</h1>
    foreach (var item in Model.Folders)
    {
        <div class="outerToFolder" style="display:inline;height:60px;width:110px;">
            <div class="Fldr" id="@item.id" style="margin:0px; display:inline-block;border-radius:5px; width:100px;height:50px;background-color:sandybrown;margin:15px;text-align:center;" onclick='return ClickEventHandler(this,"Folder");'><span>@item.name</span></div>
        </div>
    }
    <h1>Files</h1>
    foreach (var item in Model.Files)
    {
       <div id="@item.id" style="display:inline-block;border-radius:5px; width:100px;height:50px;background-color:sandybrown;margin:15px;text-align:center;" ondblclick='return ClickEventHandler(this,"file");'><span>@item.Name</span></div>
    }
}
</div>



<div id="FolderCreatePopUp" style="display:none; position:absolute;top:30%;left:35%;border:4px solid black;width:300px;height:150px;padding:30px;">
    <span><b>New Folder</b></span><br><br />
    <input type="hidden" id="txtUid" value="@Model.Usr.id"/>
    <input type="text" name="FolderName" id="txtFolderName" value="Untitled Folder" style="width:80%;" /><br /><br /><br />
    <input class="btn" type="button" id="btnCancel" value="Cancel" style="width:35%;padding:8px 15px;margin:15px;background-color:aqua;color:black;" />
    <input class="btn" type="button" id="btnCreateF" value="Create" style="width:35%;background-color:dodgerblue;padding:8px 15px;"  />
</div>
<div id="innerF"></div>
<div id="innerFiles"></div>
<div id="delOPtion" style="height:50px;width:100px;border:1px solid black;display:none;z-index:109;background-color:Highlight">Delete</div>
<div id="coverFolder" style="height:50px;width:100px;background-color:lightblue;z-index:103;display:none;"></div>